<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.recommenders.commons.injection.modules">
      <module
            class="org.eclipse.recommenders.internal.rcp.codecompletion.calls.CallsCompletionModule">
      </module>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.recommenders.internal.rcp.codecompletion.calls.CallsRecommendation"
            class="org.eclipse.recommenders.internal.rcp.codecompletion.calls.CallsCompletionAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         id="org.eclipse.recommenders"
         name="Code Recommenders Calls Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.rcp.category.completion"
            class="org.eclipse.recommenders.commons.injection.ExtensionFactory:org.eclipse.recommenders.internal.rcp.codecompletion.calls.CallsCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.recommenders.rcp.category.preferences"
            class="org.eclipse.recommenders.internal.rcp.codecompletion.calls.preferences.CallsPreferencePage"
            id="org.eclipse.recommenders.rcp.codecompletion.calls.page1"
            name="Usage Data Collector">
      </page>
      <page
            category="org.eclipse.recommenders.rcp.category.preferences"
            class="org.eclipse.recommenders.commons.injection.ExtensionFactory:org.eclipse.recommenders.internal.rcp.codecompletion.calls.preferences.DependenciesPreferencePage"
            id="org.eclipse.recommenders.rcp.codecompletion.calls.page1"
            name="Dependencies">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.recommenders.internal.rcp.codecompletion.calls.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
