<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
		<connectorCategory id="org.eclipse.recommenders.rcp.discovery.category.recommenders"
				name="Code Recommenders Projects"
				description="Other projects by the Eclipse Code Recommenders team."
				relevance="40">
			<icon image48="images/recommenders.png"/>
		</connectorCategory>
		<connectorCategory id="org.eclipse.recommenders.rcp.discovery.category.3rd"
				name="Third-party Projects"
				description="Third-party extensions to Eclipse that follow the Code Recommenders tenet: The ‘I’ in IDE stands for intelligent."
				relevance="30">
			<icon image48="images/3rd.png"/>
		</connectorCategory>
		<connectorCategory id="org.eclipse.recommenders.rcp.discovery.category.science"
				name="Scientific Projects"
				description="Scientific extensions to Eclipse are developed by researchers across the world. By installing experimental science plugins, you can try the latest ideas and contribute to scientific progress."
				relevance="20">
			<icon image48="images/science.png"/>
		</connectorCategory>
		<connectorCategory id="org.eclipse.recommenders.rcp.discovery.category.incubation"
				name="Code Recommenders Incubation Projects"
				description="Incubation projects at Eclipse Code Recommenders. Note that these incubators may not be production-ready."
				relevance="10">
			<icon image48="images/incubation.png"/>
		</connectorCategory>
	</extension>
	<extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
		<connectorDescriptor id="com.codetrails.ctrlflow.editions.starter.feature"
				categoryId="org.eclipse.recommenders.rcp.discovery.category.3rd"
				name="Codetrails Ctrlflow Starter Edition"
				description="Ctrlflow Starter Edition includes a pioneering code search engine with instant access to your code and thousands of real-world examples for popular libraries."
				provider="Codetrails GmbH"
				license="Commercial &#x2013; Free Trial"
				siteUrl="http://download.ctrlflow.com/updates/public/stable/">
				<iu id="com.codetrails.ctrlflow.editions.starter.feature.feature.group"/>
			<overview
					summary="Developers best learn how to use a library from examples. Unfortunately, most libraries do not include enough of them. This forces developers on a time-consuming Web search for the examples that satisfy their information need.&#x0A;With Ctrlflow Codesearch you don’t have to leave your IDE anymore. Ctrlflow extends the IDE’s search capabilities beyond your workspace, giving you instant access to thousands of aggregated code examples that make it easy to grasp the essence of how to use a library."
					url="http://www.ctrlflow.com/"/>
		</connectorDescriptor>
		<connectorDescriptor id="com.codetrails.connect.hippie.rcp.feature"
				categoryId="org.eclipse.recommenders.rcp.discovery.category.3rd"
				name="Codetrails Connect Community Edition"
				description="Connect is powered by 39 million completion events collected from developers working on open source projects. Install it to leverage the power of crowdsourcing."
				provider="Codetrails GmbH"
				license="Commercial &#x2013; Free"
				siteUrl="http://download.codetrails.com/updates/connect/stable/">
				<iu id="com.codetrails.connect.hippie.rcp.feature.feature.group"/>
			<overview
					summary="Codetrails Connect also gives your the opportunity to have private repositories where you can share knowledge for your private APIs only with selected people."
					url="http://www.codetrails.com/connect/"/>
		</connectorDescriptor>
		<connectorDescriptor id="org.eclipse.recommenders.snipmatch.rcp.feature"
				categoryId="org.eclipse.recommenders.rcp.discovery.category.recommenders"
				name="Snipmatch: A Crowdsourced Snippet&#x2010;completion Engine"
				description="Install this feature if you want to insert complex code snippets with just a few keystrokes."
				provider="Eclipse Code Recommenders"
				license="EPL"
				siteUrl="http://download.eclipse.org/recommenders/updates/stable/">
			<iu id="org.eclipse.recommenders.snipmatch.rcp.feature.feature.group"/>
		</connectorDescriptor>
		<connectorDescriptor id="org.eclipse.recommenders.templates.snipmatch.rcp.feature"
				categoryId="org.eclipse.recommenders.rcp.discovery.category.incubation"
				name="Code Recommenders Snipmatch Editor Extension (Incubator)"
				description="Install this feature to add an advanced source editor with syntax&#x2010;highlighting capabilities to your Snippet Editor."
				provider="Eclipse Code Recommenders"
				license="EPL"
				siteUrl="http://download.eclipse.org/recommenders.incubator/snipmatch/updates/milestones/">
			<iu id="org.eclipse.recommenders.templates.snipmatch.rcp.feature.feature.group"/>
		</connectorDescriptor>
		<connectorDescriptor id="WatchDog.feature"
				categoryId="org.eclipse.recommenders.rcp.discovery.category.science"
				name="WatchDog"
				description="WatchDog tells you how much time you spend testing your Java code. How much you actually code, versus only read. Plus, you can win an Android tablet (and more)."
				provider="TU Delft"
				license="MIT"
				siteUrl="http://updatesite.testroots.org/">
			<iu id="WatchDog.feature.group"/>
		</connectorDescriptor>
	</extension>
</plugin>
