<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.recommenders.rcp.category.views"
            class="org.eclipse.recommenders.internal.rcp.logging.views.LogbackView"
            id="org.eclipse.recommenders.rcp.logging.view1"
            name="Code Recommenders Logs"
            restorable="true">
      </view>
   </extension>

</plugin>
