<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.recommenders.completion.rcp.sessionprocessors" name="Completion Session Processors" schema="schema/org.eclipse.recommenders.completion.rcp.sessionprocessors.exsd"/>
   <extension
         id="org.eclipse.recommenders.rcp.category.completion"
         name="Code Recommenders Proposals (addons)"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/view16/slice.gif">
      </proposalCategory>
   </extension>
   <extension
         point="org.eclipse.recommenders.injection.modules">
      <module
            class="org.eclipse.recommenders.internal.completion.rcp.GuiceModule">
      </module>
   </extension>
 </plugin>
