<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.recommenders.completion.rcp.sessionprocessors" name="Completion Session Processors" schema="schema/org.eclipse.recommenders.completion.rcp.sessionprocessors.exsd"/>
   <extension
         point="org.eclipse.recommenders.injection.modules">
      <module
            class="org.eclipse.recommenders.internal.completion.rcp.CompletionRcpModule">
      </module>
   </extension>

   <extension
         id="org.eclipse.recommenders.completion.category.all"
         name="Intelligent Java Proposals (Recommenders)"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/view16/slice.gif">
      </proposalCategory>
   </extension>
   <extension
         id="intelligent"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.completion.category.all"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.completion.rcp.processable.IntelligentCompletionProposalComputer"
            needsSortingAfterFiltering="true">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
      <processor
            class="org.eclipse.recommenders.completion.rcp.processable.BaseRelevanceSessionProcessor"
            description="Contributes the JDT relevance as base relevance for each proposal. Ensures that the proposals are somewhat in-line with what is presented by JDT."
            icon="icons/obj16/bullet_blue.png"
            id="org.eclipse.recommenders.completion.rcp.sessionprocessors.baseRelevance"
            name="Base Relevance Processor"
            priority="0">
      </processor>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.recommenders.rcp.category.preferences"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.completion.rcp.PreferencePage"
            id="org.eclipse.recommenders.completion.rcp.preferences"
            name="Completions">
      </page>
   </extension>
   
 </plugin>
