<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.eclipse.recommenders.completion.rcp.sessionprocessors" name="%extension-point.sessionprocessors.name" schema="schema/org.eclipse.recommenders.completion.rcp.sessionprocessors.exsd"/>
	<extension-point id="org.eclipse.recommenders.completion.rcp.tips" name="%extension-point.completiontips.name" schema="schema/org.eclipse.recommenders.completion.rcp.tips.exsd"/>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="org.eclipse.recommenders.completion.rcp.proposalCategory.intelligent"
		name="%proposalCategory.intelligent.name">
		<proposalCategory icon="icons/view16/slice.gif"/>
	</extension>
	<extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
		id="org.eclipse.recommenders.completion.rcp.javaCompletionProposalComputer.intelligent">
		<javaCompletionProposalComputer
			activate="true"
			categoryId="org.eclipse.recommenders.completion.rcp.proposalCategory.intelligent"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.completion.rcp.processable.IntelligentCompletionProposalComputer"
			needsSortingAfterFiltering="true"/>
	</extension>
	<extension point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
		<processor id="org.eclipse.recommenders.completion.rcp.sessionprocessors.baseRelevance"
			class="org.eclipse.recommenders.completion.rcp.processable.BaseRelevanceSessionProcessor"
			priority="0"
			icon="platform:/plugin/org.eclipse.recommenders.rcp/icons/obj16/bullet_blue.png"
			name="%sessionprocessors.baseRelevance.name"
			description="%sessionprocessors.baseRelevance.description"/>
		<processor id="org.eclipse.recommenders.completion.rcp.sessionprocessors.tips"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.completion.rcp.tips.TipsSessionProcessor"
			icon="platform:/plugin/org.eclipse.recommenders.rcp/icons/obj16/lightbulb.gif"
			name="%sessionprocessors.tips.name"
			description="%sessionprocessors.tips.description"/>
	</extension>
	<extension point="org.eclipse.recommenders.completion.rcp.tips">
		<proposal id="org.eclipse.recommenders.completion.rcp.tips.discovery"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.completion.rcp.tips.DiscoveryCompletionProposal"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.eclipse.recommenders.completion.rcp.preferencePages.completions"
			category="org.eclipse.recommenders.rcp.preferencePages.root"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.completion.rcp.CompletionsPreferencePage"
			name="%preferencePages.completions.name"/>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.recommenders.internal.completion.rcp.CompletionRcpPreferences"/>
	</extension>
	<extension point="org.eclipse.recommenders.injection.modules">
		<module class="org.eclipse.recommenders.internal.completion.rcp.CompletionRcpModule"/>
	</extension>
</plugin>
