## no archives
*.jar
*.zip
*.gz

## no derived resources
*.class
bin/
target/
.recommenders/
aggregators/

## various other file types we don't want to have in the repository:
.DS_Store
*~
*#
*.licensed
*.aux

/plugins/org.eclipse.recommenders.mining/
/tests/org.eclipse.recommenders.tests.mining/