## no archives
*.jar
*.zip
*.gz

## no (binary) documents
*.pdf
*.doc


## no derived resources
*.class
bin/
target/
.recommenders/
aggregators/

## various other file types we don't want to have in the repository:
.DS_Store
*~
*#
*.licensed
*.aux
