<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Target Definition for Eclipse Luna" sequenceNumber="120">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.ecf.identity" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.context.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.5.1.v201402030714"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/egit/staging/v3.4.0.201405051725-m7/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.aether.api" version="0.0.0"/>
<unit id="org.eclipse.aether.api.source" version="0.0.0"/>
<unit id="org.eclipse.aether.connector.basic" version="0.0.0"/>
<unit id="org.eclipse.aether.connector.basic.source" version="0.0.0"/>
<unit id="org.eclipse.aether.impl" version="0.0.0"/>
<unit id="org.eclipse.aether.impl.source" version="0.0.0"/>
<unit id="org.eclipse.aether.spi" version="0.0.0"/>
<unit id="org.eclipse.aether.spi.source" version="0.0.0"/>
<unit id="org.eclipse.aether.impl.source" version="0.0.0"/>
<unit id="org.eclipse.aether.transport.file" version="0.0.0"/>
<unit id="org.eclipse.aether.transport.file.source" version="0.0.0"/>
<unit id="org.eclipse.aether.transport.http" version="0.0.0"/>
<unit id="org.eclipse.aether.transport.http.source" version="0.0.0"/>
<unit id="org.eclipse.aether.util" version="0.0.0"/>
<unit id="org.eclipse.aether.util.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/aether/aether-core/nightly/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.aether.maven" version="0.0.0"/>
<repository location="http://download.eclipse.org/aether/maven-aether-provider/releases/3.1.0.20140506-1957/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<!-- List of source bundles needs to be maintained manually; includeSources="true" not supported yet. --> 
<!-- See https://bugs.eclipse.org/bugs/show_bug.cgi?id=411664 -->
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7275 -->
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7276 -->
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<!-- TODO CQ missing! -->
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7760 -->
<unit id="com.google.gson" version="2.2.4.v201311231704"/>
<unit id="com.google.gson.source" version="2.2.4.v201311231704"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7766 -->
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=5058 -->
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.source" version="3.0.0.v201312141243"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=5059 -->
<unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.assistedinject.source" version="3.0.0.v201402270930"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=5060 -->
<unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.multibindings.source" version="3.0.0.v201402270930"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=5969 -->
<unit id="javax.inject" version="1.0.0.v20091030"/>
<unit id="javax.inject.source" version="1.0.0.v20091030"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=5968 -->
<unit id="javax.servlet" version="3.0.0.v201112011016"/>
<unit id="javax.servlet.source" version="3.0.0.v201112011016"/>
<!-- TODO CQ missing! -->
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7437 -->
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=4790 -->
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.io.source" version="2.0.1.v201105210651"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=5902 -->
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<!-- TODO CQ missing! -->
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=4759 -->
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.math.source" version="2.1.0.v201105210652"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=6495 -->
<unit id="org.apache.commons.pool" version="1.6.0.v201204271246"/>
<unit id="org.apache.commons.pool.source" version="1.6.0.v201204271246"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=8217 -->
<unit id="org.apache.httpcomponents.httpclient" version="4.2.6.v201311072007"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.2.6.v201311072007"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=8216 -->
<unit id="org.apache.httpcomponents.httpcore" version="4.2.5.v201311072007"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.2.5.v201311072007"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=6557 -->
<unit id="org.apache.lucene.core" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.core.source" version="3.5.0.v20120725-1805"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7436 -->
<unit id="org.apache.solr.client.solrj" version="3.5.0.v20120530-0900"/>
<unit id="org.apache.solr.client.solrj.source" version="3.5.0.v20120530-0900"/>
<!-- Tests-only dependency -->
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<!-- Tests-only dependency -->
<unit id="org.hamcrest.integration" version="1.1.0.v201303031500"/>
<unit id="org.hamcrest.integration.source" version="1.1.0.v201303031500"/>
<!-- Tests-only dependency -->
<unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.library.source" version="1.1.0.v20090501071000"/>
<!-- Tests-only dependency -->
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<!-- Tests-only dependency -->
<unit id="org.mockito" version="1.9.5.v201311280930"/>
<unit id="org.mockito.source" version="1.9.5.v201311280930"/>
<!-- Tests-only dependency -->
<unit id="org.objenesis" version="1.0.0.v201105211943"/>
<unit id="org.objenesis.source" version="1.0.0.v201105211943"/>
<!-- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=7274 -->
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<!-- As long as Luna has not yet been released, this location points to the latest integration build. -->
<!-- Once Luna is released this needs to be set to http://download.eclipse.org/modeling/emf/cdo/orbit/latest-R. -->
<repository location="http://download.eclipse.org/modeling/emf/cdo/orbit/latest-I"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
