<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
    <connectorCategory id="org.eclipse.recommenders.rcp.discovery.category.codetrails" description="The idea of IDE 2.0 is built around leveraging crowdsourcing in your IDE to make your IDE the smartest place on earth. All tools in this category improve your IDE by either improving the quality of your code completion, quickfixes or enhance your API documentation." name="IDE 2.0 - Building Amazon for Software Engineers" relevance="30">
      <icon
            image48="images/crowd-48.png"/>
    </connectorCategory>
    <connectorCategory id="org.eclipse.recommenders.rcp.discovery.category.incubation" description="Incubation projects at Code Recommenders. Note that these incubators may not be production ready." name="Code Recommenders Incubation Projects" relevance="10">
      <icon
            image48="images/incubation-48.png"/>
    </connectorCategory>
  </extension>
  <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
    <connectorDescriptor siteUrl="http://download.codetrails.com/updates/connect/" id="com.codetrails.connect.hippie.rcp.feature" description="Connect is powered by 39 million completion events collected from developers working on open source projects. Install it to leverage the power of crowdsourcing." categoryId="org.eclipse.recommenders.rcp.discovery.category.codetrails" name="Codetrails Connect, Community Ed." provider="Codetrails" license="Codetrails Community License">
      <iu id="com.codetrails.connect.hippie.rcp.feature.feature.group" />
      <overview summary="Codetrails Connect  also gives your the opportunity to have private repositories where you can share knowledge for your private APIs only with selected people." url="http://codetrails.com/connect/" />
    </connectorDescriptor>
    <connectorDescriptor
          categoryId="org.eclipse.recommenders.rcp.discovery.category.incubation"
          description="Install this feature to get access to dozens of code snippets showing how to use popular APIs like SWT and the Java standard library."
          id="org.eclipse.recommenders.snipmatch.rcp.feature"
          license="EPL"
          name="Snipmatch - A crowdsourced snippet completion engine"
          provider="Eclipse Code Recommenders"
          siteUrl="http://download.eclipse.org/recommenders.incubator/snipmatch/updates/milestones/">
       <iu id="org.eclipse.recommenders.snipmatch.rcp.feature.feature.group"/>
    </connectorDescriptor>
  </extension>
</plugin>
