<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.eclipse.recommenders.models.rcp.advisors" name="%extension-point.advisors.name" schema="schema/advisors.exsd"/>
	<extension-point id="org.eclipse.recommenders.models.rcp.models" name="%extension-point.models.name" schema="schema/models.exsd"/>
	<extension point="org.eclipse.ui.views">
		<view id="org.eclipse.recommenders.models.rcp.views.modelRepositories"
			category="org.eclipse.recommenders.rcp.views.root"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.models.rcp.ModelRepositoriesView"
			icon="icons/view16/depinsp.gif"
			name="%views.modelRepositories.name">
		</view>
		<view id="org.eclipse.recommenders.models.rcp.views.projectCoordinates"
			category="org.eclipse.recommenders.rcp.views.root"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.models.rcp.ProjectCoordinatesView"
			icon="icons/view16/depinsp.gif"
			name="%views.projectCoordinates.name">
		</view>
		<view id="org.eclipse.recommenders.models.rcp.views.dependencyOverview"
			category="org.eclipse.recommenders.rcp.views.root"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.models.rcp.DependencyOverviewView"
			restorable="true"
			icon="icons/view16/depinsp.gif"
			name="%views.dependencyOverview.name">
		</view>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.eclipse.recommenders.models.rcp.preferencePages.advisors"
			category="org.eclipse.recommenders.rcp.preferencePages.root"
			class="org.eclipse.recommenders.internal.models.rcp.AdvisorsPreferencePage"
			name="%preferencePages.advisors.name">
		</page>
		<page id="org.eclipse.recommenders.models.rcp.preferencePages.models"
			category="org.eclipse.recommenders.rcp.preferencePages.root"
			class="org.eclipse.recommenders.internal.models.rcp.ModelsPreferencePage"
			name="%preferencePages.models.name">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.models.rcp.PreferenceInitializer"/>
	</extension>
	<extension point="org.eclipse.ui.preferenceTransfer">
		<transfer id="org.eclipse.recommenders.models.rcp.transfer.all"
			icon="icons/view16/depinsp.gif"
			name="%preferenceTransfer.all.name">
			<description>%preferenceTransfer.all.description</description>
			<mapping scope="instance">
				<entry node="org.eclipse.recommenders.models.rcp"/>
			</mapping>
		</transfer>
	</extension>
	<extension point="org.eclipse.recommenders.models.rcp.advisors">
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.manual"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.models.rcp.ManualProjectCoordinateAdvisor"
			defaultPriority="0"
			name="%advisors.manual.name"
			description="%advisors.manual.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.sharedManualMappings"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.models.advisors.SharedManualMappingsAdvisor"
			defaultPriority="10"
			enabledByDefault="false"
			name="%advisors.sharedManualMappings.name"
			description="%advisors.sharedManualMappings.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.mavenPomProperties"
			class="org.eclipse.recommenders.models.advisors.MavenPomPropertiesAdvisor"
			defaultPriority="20"
			name="%advisors.mavenPomProperties.name"
			description="%advisors.mavenPomProperties.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.mavenPomXml"
			class="org.eclipse.recommenders.models.advisors.MavenPomXmlAdvisor"
			defaultPriority="30"
			name="%advisors.mavenPomXml.name"
			description="%advisors.mavenPomXml.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.jreExecutionEnvironment"
			class="org.eclipse.recommenders.models.advisors.JREExecutionEnvironmentAdvisor"
			defaultPriority="40"
			name="%advisors.jreExecutionEnvironment.name"
			description="%advisors.jreExecutionEnvironment.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.jreReleaseFile"
			class="org.eclipse.recommenders.models.advisors.JREReleaseFileAdvisor"
			defaultPriority="50"
			name="%advisors.jreReleaseFile.name"
			description="%advisors.jreReleaseFile.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.jreDirectoryName"
			class="org.eclipse.recommenders.models.advisors.JREDirectoryNameAdvisor"
			defaultPriority="60"
			name="%advisors.jreDirectoryName.name"
			description="%advisors.jreDirectoryName.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.androidDirectoryName"
			class="org.eclipse.recommenders.models.advisors.AndroidDirectoryNameAdvisor"
			defaultPriority="70"
			name="%advisors.androidDirectoryName.name"
			description="%advisors.androidDirectoryName.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.modelIndexBundleSymbolicName"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.models.advisors.ModelIndexBundleSymbolicNameAdvisor"
			defaultPriority="80"
			name="%advisors.modelIndexBundleSymbolicName.name"
			description="%advisors.modelIndexBundleSymbolicName.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.modelIndexFingerprint"
			class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.models.advisors.ModelIndexFingerprintAdvisor"
			defaultPriority="90"
			name="%advisors.modelIndexFingerprint.name"
			description="%advisors.modelIndexFingerprint.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.osgiManifest"
			class="org.eclipse.recommenders.models.advisors.OsgiManifestAdvisor"
			defaultPriority="100"
			name="%advisors.osgiManifest.name"
			description="%advisors.osgiManifest.description">
		</advisor>
		<advisor id="org.eclipse.recommenders.models.rcp.advisors.mavenCentralFingerprintSearch"
			class="org.eclipse.recommenders.models.advisors.MavenCentralFingerprintSearchAdvisor"
			defaultPriority="110"
			name="%advisors.mavenCentralFingerprintSearch.name"
			description="%advisors.mavenCentralFingerprintSearch.description">
		</advisor>
	</extension>
	<extension point="org.eclipse.recommenders.injection.modules">
		<module class="org.eclipse.recommenders.internal.models.rcp.ModelsRcpModule"/>
	</extension>
</plugin>
