<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.recommenders.subwords.rcp"
         name="Java Subwords Completion Engine"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.subwords.rcp.category"
            class="org.eclipse.recommenders.internal.completion.rcp.subwords.SubwordsCompletionProposalComputer"
            needsSortingAfterFiltering="true"/>
   </extension>
 <extension
         id="org.eclipse.recommenders.subwords.rcp.category"
         name="Java Subwords Completion"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/elcl16/category.gif"></proposalCategory>
   </extension>
</plugin>
