<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.recommenders"
         name="Code Recommenders Demo Completion Engine"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.rcp.category.completion"
            class="org.eclipse.recommenders.commons.injection.ExtensionFactory:org.eclipse.recommenders.examples.rcp.codecompletion.DemoCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
</plugin>
