<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Code Recommenders Development Environment" sequenceNumber="31">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.jayes.feature.feature.group" version="0.2.0.v20111022-1749-b84"/>
<unit id="org.eclipse.recommenders.jayes.source-feature.feature.group" version="0.2.0.v20111022-1749-b84"/>
<repository location="http://vandyk.st.informatik.tu-darmstadt.de/updates/students/th/michael-bayes/org.eclipse.recommenders.jayes.repository/target/site/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="1.0.1.v20100826-2143"/>
<unit id="org.eclipse.mylyn.sdk_feature.feature.group" version="3.4.3.v20110131-0200-e3x-8j9F7_FXiI9jRBM4_bFl96vsIL"/>
<unit id="org.eclipse.mylyn.wikitext.sdk.feature.group" version="1.3.2.v20100916-0100-e3x-7U8M4FQCnvLuxi66SxLuukDef"/>
<repository location="http://vandyk.st.informatik.tu-darmstadt.de/mirrors/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.3rd.testing.feature.feature.group" version="0.1.0.201111131155"/>
<unit id="org.eclipse.recommenders.3rd.feature.feature.group" version="0.1.0.201111131155"/>
<unit id="org.eclipse.recommenders.3rd.feature.source.feature.group" version="0.1.0.201111131155"/>
<repository location="http://vandyk.st.informatik.tu-darmstadt.de/updates/3rd-head"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
</target>
