<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="e38" sequenceNumber="20">
<locations>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.2.1.v201112130541"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.3rd.testing.feature.feature.group" version="0.1.0.201112231012"/>
<unit id="org.eclipse.recommenders.3rd.feature.feature.group" version="0.1.0.201112231012"/>
<unit id="org.eclipse.recommenders.3rd.feature.source.feature.group" version="0.1.0.201112231012"/>
<repository location="http://vandyk.st.informatik.tu-darmstadt.de/updates/3rd-head"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.7.1.r371_v20110810-0800-7z8gFcoFMLfTabvKsR5Qm9rBGEBK"/>
<repository location="http://vandyk.st.informatik.tu-darmstadt.de/mirrors/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.8.0.I20111209-1447"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8milestones/"/>
</location>
</locations>
</target>
