<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Code Recommenders: Eclipse 3.7 Develper Target Platform" sequenceNumber="14">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.2.M20120208-0800"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.xtend2.sdk.feature.group" version="2.2.1.v201112130541"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.2.1.v201112130541"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.feature.3rd.nonorbit.feature.group" version="0.1.0.201203072108"/>
<unit id="org.eclipse.recommenders.feature.3rd.orbit.feature.group" version="0.1.0.201203072108"/>
<repository location="http://vandyk.st.informatik.tu-darmstadt.de/updates/3rd/"/>
</location>
</locations>
</target>
