<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.recommenders.extdoc.rcp.provider" name="Extended Documentation Provider" schema="schema/org.eclipse.recommenders.extdoc.rcp.provider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.recommenders.rcp.category.views"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.ui.ExtdocView"
            icon="icons/extdoc.png"
            id="org.eclipse.recommenders.extdoc.rcp.ExtdocView"
            name="Extdoc View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.recommenders.injection.modules">
      <module
            class="org.eclipse.recommenders.internal.extdoc.rcp.wiring.ExtdocModule">
      </module>
   </extension>
   <extension
         point="org.eclipse.recommenders.extdoc.rcp.provider">
      <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.javadoc.JavadocProvider"
            image="icons/provider.javadoc.gif"
            name="Javadoc">
      </provider>
      <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.subclassing.OverridesProvider"
            image="icons/provider.subclassing.gif"
            name="Overrides">
      </provider>
     <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.subclassing.SelfCallsProvider"
            image="icons/provider.subclassing-patterns.gif"
            name="Self Calls">
      </provider>
     <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.examples.ExamplesProvider"
            image="icons/provider.examples.gif"
            name="Snippets">
      </provider>
       <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.hooks.StaticHooksFinder"
            image="icons/provider.hooks.png"
            name="Static Hooks">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.recommenders.rcp.category.preferences"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.preferences.ExtdocPreferencePage"
            id="org.eclipse.recommenders.extdoc.rcp.page1"
            name="Extdoc">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
