<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.recommenders.extdoc.rcp.provider" name="Extended Documentation Provider" schema="schema/org.eclipse.recommenders.extdoc.rcp.provider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.recommenders.rcp.category.views"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.ui.ExtdocView"
            icon="icons/extdoc.png"
            id="org.eclipse.recommenders.extdoc.rcp.ExtdocView"
            name="Extdoc"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.recommenders.injection.modules">
      <module
            class="org.eclipse.recommenders.internal.extdoc.rcp.wiring.ExtdocModule">
      </module>
   </extension>
   <extension
         point="org.eclipse.recommenders.extdoc.rcp.provider">
      <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.JavadocProvider"
            image="icons/provider.javadoc.gif"
            name="Javadoc"/>
      <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.OverridesProvider"
            image="icons/provider.subclassing.gif"
            name="Overrides"/>
     <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.SelfCallsProvider"
            image="icons/provider.subclassing-patterns.gif"
            name="Self Calls"/>
       <provider
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.extdoc.rcp.providers.StaticHooksFinder"
            image="icons/provider.hooks.png"
            name="Static Hooks"/>
   </extension>
   <extension point="org.eclipse.ui.bindings">
	<key
		commandId="org.eclipse.ui.views.showView"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="M2+M3+Q E">
		<parameter
			id="org.eclipse.ui.views.showView.viewId"
			value="org.eclipse.recommenders.extdoc.rcp.ExtdocView">
		</parameter>
	</key>
	<key
		platform="carbon"
		sequence="M2+M3+Q E"
		commandId=""
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	<key
		commandId="org.eclipse.ui.views.showView"
		platform="carbon"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
		sequence="COMMAND+ALT+Q E">
		<parameter
			id="org.eclipse.ui.views.showView.viewId"
			value="org.eclipse.recommenders.extdoc.rcp.ExtdocView">
		</parameter>
	</key>
	 </extension>

</plugin>
