<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.recommenders.code.completion.chainedjava.category"
         name="Chained Java Code Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory icon="icons/view16/chain.gif">
      </proposalCategory>
   </extension>
   <extension
         id="org.eclipse.recommenders.code.completion.chainedjava.proposalComputer"
         name="Chained Java Code Proposals Computer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.code.completion.chainedjava.category"
            class="org.eclipse.recommenders.commons.injection.ExtensionFactory:org.eclipse.recommenders.internal.rcp.codecompletion.chain.ChainCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
</plugin>
