<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
	<extension
         point="org.eclipse.recommenders.commons.injection.modules">
      <module
            class="org.eclipse.recommenders.internal.rcp.codecompletion.templates.TemplatesCompletionModule">
      </module>
   </extension>
   <extension
         id="org.eclipse.recommenders.rcp.category.completion.templates"
         name="Code Recommenders Dynymic Template Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.rcp.category.completion.templates"
            class="org.eclipse.recommenders.commons.injection.ExtensionFactory:org.eclipse.recommenders.internal.rcp.codecompletion.templates.TemplatesCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="org.eclipse.recommenders.rcp.category.completion.templates"
         name="Dynamic Code Templates"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="metadata/icon2.gif">
      </proposalCategory>
   </extension>
</plugin>
