<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.recommenders.completion.category.all"
         name="Code Recommenders All (experimental)"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/elcl16/slice.gif">
      </proposalCategory>
   </extension>
   <extension
         id="experimental"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.completion.category.all"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.completion.rcp.RecommendersAllCompletionProposalProcessor"
            needsSortingAfterFiltering="true">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.recommenders.completion.rcp.sessionprocessors">
      <processor
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.completion.rcp.sandbox.StatisticsSessionProcessor"
            icon="icons/elcl16/category.gif"
            id="org.eclipse.recommenders.completion.rcp.processors.statistics"
            name="Statistics">
      </processor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.recommenders.rcp.category.preferences"
            class="org.eclipse.recommenders.internal.completion.rcp.sandbox.StatisticsPreferencePage"
            id="org.eclipse.recommenders.completion.rcp.sandbox.preferencespage"
            name="Statistics">
      </page>
   </extension>
</plugin>
