<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.recommenders.internal.stacktraces.rcp.LogListener"></startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.recommenders.internal.stacktraces.rcp.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.recommenders.internal.stacktraces.rcp.PreferencePage"
            id="org.eclipse.recommenders.internal.stacktraces.rcp.ErrorReportingPreferencePage"
            name="Error Reporting">
      </page>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stacktraces -->
      <package
            uri="org.eclipse.recommenders.internal.stacktraces.rcp.model"
            class="org.eclipse.recommenders.internal.stacktraces.rcp.model.ModelPackage"/>
   </extension>

</plugin>
