<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ChainCompletionProposalComputer"
         name="Code Recommenders: Call Chain Proposal Computer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.completion.rcp.chain.category"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.completion.rcp.chain.CallChainCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="org.eclipse.recommenders.completion.rcp.chain.category"
         name="Call Chain Proposal Computer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/view16/chain.gif">
      </proposalCategory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.recommenders.completion.rcp.chain.commands.category"
            name="Chain Completion Category">
      </category>
      <command
            categoryId="org.eclipse.recommenders.completion.rcp.chain.commands.category"
            id="org.eclipse.recommenders.completion.rcp.chain.commands.sampleCommand"
            name="Trigger Chain Completion Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.recommenders.completion.rcp.chain.commands.TriggerCompletion"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+SPACE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.recommenders.internal.completion.rcp.chain.CompletionKeyShortcutHandler"
            commandId="org.eclipse.recommenders.completion.rcp.chain.commands.TriggerCompletion">
      </handler>
   </extension>
</plugin>
