<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.recommenders.news.rcp.feed" name="%extension-point.feed.name" schema="schema/feed.exsd"/>
   <extension point="org.eclipse.recommenders.injection.modules">
      <module class="org.eclipse.recommenders.internal.news.rcp.NewsRcpModule"/>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.news.rcp.Startup"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.news.rcp.NewsFeedPreferencePage"
            id="org.eclipse.recommenders.news.rcp.preferencePage"
            name="%preferencePage.newsFeed.name">
      </page>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            id="org.eclipse.recommenders.news.rcp.preferenceTester"
            type="java.lang.Object"
            class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.news.rcp.PreferenceTester"
            namespace="org.eclipse.recommenders.news.rcp.preferenceTester"
            properties="newsEnabled">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution allPopups="true" locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar id="org.eclipse.recommenders.trim.rcp.status.contributions">
            <control class="org.eclipse.recommenders.injection.ExtensionFactory:org.eclipse.recommenders.internal.news.rcp.NewsToolbarContribution" id="org.eclipse.recommenders.rcp.toolbar.contributions.news">
               <visibleWhen checkEnabled="false">
                  <test
                     forcePluginActivation="true"
                     property="org.eclipse.recommenders.news.rcp.preferenceTester.newsEnabled">
                  </test>
               </visibleWhen>
            </control>
         </toolbar>
      </menuContribution>
   </extension>
   <extension  point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.recommenders.internal.news.rcp.NewsRcpPreferences">
      </initializer>
   </extension>
   <extension point="org.eclipse.recommenders.news.rcp.feed">
      <feed
            id="org.eclipse.recommenders.news.rcp.planet.eclipse"
            name="%feed.planet.eclipse.name"
            url="http://planeteclipse.org/planet/rss20.xml"
            pollingInterval="60">
      </feed>
   </extension>
</plugin>
