<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.recommenders.news.rcp.feed" name="%extension-point.feed.name" schema="schema/feed.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.recommenders.internal.news.rcp.NewsFeedPreferencePage"
            id="org.eclipse.recommenders.news.rcp.preferencePage"
            name="%preferencePage.newsFeed.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.recommenders.internal.news.rcp.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.recommenders.news.rcp.feed">
      <feed
            id="org.eclipse.recommenders.news.rcp.foundation"
            name="%feed.foundation.name"
            url="http://feeds.feedburner.com/eclipse/fnews">
      </feed>
   </extension>
</plugin>
