<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
		<connectorDescriptor id="org.eclipse.recommenders.discovery.content.connectorDescriptor.ctrlflow"
				categoryId="org.eclipse.recommenders.discovery.connectorCategory.3rd"
				name="%connectorDescriptor.ctrlflow.name"
				description="%connectorDescriptor.ctrlflow.description"
				provider="%connectorDescriptor.ctrlflow.provider"
				license="%connectorDescriptor.ctrlflow.license"
				siteUrl="http://download.ctrlflow.com/updates/public/stable/">
				<iu id="com.codetrails.ctrlflow.editions.starter.feature.feature.group"/>
			<overview
					summary="%overview.ctrlflow.summary"
					url="https://www.ctrlflow.com/"/>
		</connectorDescriptor>
		<connectorDescriptor id="org.eclipse.recommenders.discovery.content.connectorDescriptor.connect"
				categoryId="org.eclipse.recommenders.discovery.connectorCategory.3rd"
				name="%connectorDescriptor.connect.name"
				description="%connectorDescriptor.connect.descriptor"
				provider="%connectorDescriptor.connect.provider"
				license="%connectorDescriptor.connect.license"
				siteUrl="http://download.codetrails.com/updates/connect/stable/">
				<iu id="com.codetrails.connect.hippie.rcp.feature.feature.group"/>
			<overview
					summary="%overview.connect.summary"
					url="http://www.codetrails.com/connect/"/>
		</connectorDescriptor>
		<connectorDescriptor id="org.eclipse.recommenders.discovery.content.connectorDescriptor.snipmatch"
				categoryId="org.eclipse.recommenders.discovery.connectorCategory.recommenders"
				name="%connectorDescriptor.snipmatch.name"
				description="%connectorDescriptor.snipmatch.description"
				provider="%connectorDescriptor.snipmatch.provider"
				license="%connectorDescriptor.snipmatch.license"
				siteUrl="http://download.eclipse.org/recommenders/updates/stable/">
			<iu id="org.eclipse.recommenders.snipmatch.rcp.feature.feature.group"/>
		</connectorDescriptor>
		<connectorDescriptor id="org.eclipse.recommenders.discovery.content.connectorDescriptor.watchdog"
				categoryId="org.eclipse.recommenders.discovery.connectorCategory.science"
				name="%connectorDescriptor.watchdog.name"
				description="%connectorDescriptor.watchdog.description"
				provider="%connectorDescriptor.watchdog.provider"
				license="%connectorDescriptor.watchdog.license"
				siteUrl="http://updatesite.testroots.org/">
			<iu id="WatchDog.feature.group"/>
		</connectorDescriptor>
	</extension>
</plugin>
