<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
		<connectorDescriptor id="org.eclipse.recommenders.discovery.content.connectorDescriptor.connect"
				categoryId="org.eclipse.recommenders.discovery.connectorCategory.3rd"
				name="%connectorDescriptor.connect.name"
				description="%connectorDescriptor.connect.descriptor"
				provider="%connectorDescriptor.connect.provider"
				license="%connectorDescriptor.connect.license"
				siteUrl="https://download.ctrlflow.com/connect/updates/discovery/stable/">
			<iu id="com.codetrails.connect.hippie.rcp.feature.feature.group"/>
			<overview
					summary="%overview.connect.summary"
					url="http://www.codetrails.com/connect/"/>
		</connectorDescriptor>
		<connectorDescriptor id="org.eclipse.recommenders.discovery.content.connectorDescriptor.snipmatch"
				categoryId="org.eclipse.recommenders.discovery.connectorCategory.recommenders"
				name="%connectorDescriptor.snipmatch.name"
				description="%connectorDescriptor.snipmatch.description"
				provider="%connectorDescriptor.snipmatch.provider"
				license="%connectorDescriptor.snipmatch.license"
				siteUrl="http://download.eclipse.org/recommenders/updates/stable/">
			<iu id="org.eclipse.recommenders.snipmatch.rcp.feature.feature.group"/>
		</connectorDescriptor>
		<connectorDescriptor id="org.eclipse.recommenders.discovery.content.connectorDescriptor.watchdog"
				categoryId="org.eclipse.recommenders.discovery.connectorCategory.science"
				name="%connectorDescriptor.watchdog.name"
				description="%connectorDescriptor.watchdog.description"
				provider="%connectorDescriptor.watchdog.provider"
				license="%connectorDescriptor.watchdog.license"
				siteUrl="http://updatesite.testroots.org/">
			<iu id="WatchDog.feature.group"/>
		</connectorDescriptor>
	</extension>
</plugin>
