<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.recommenders.commons.injection.modules">
      <module
            class="org.eclipse.recommenders.internal.rcp.analysis.RcpAnalysisModule">
      </module>
   </extension>
<extension
         id="RecommendersBuilder"
         name="Code Recommenders Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.recommenders.internal.rcp.analysis.RecommendersBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="RecommendersNature"
         name="Code Recommenders Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.recommenders.rcp.analysis.RecommendersNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.recommenders.rcp.analysis.RecommendersBuilder">
      </builder>
   </extension>
    <extension
         point="org.eclipse.ui.popupMenus">
      
     
      <objectContribution
            adaptable="true"
            id="org.eclipse.recommenders.rcp.iproject"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.recommenders.internal.rcp.analysis.RecommendersNatureToggleAction"
               enablesFor="+"
               id="org.eclipse.recommenders.rcp.actions.toggleNatureAction"
               label="Add/Remove Recommenders Nature"
               menubarPath="org.eclipse.recommenders.rcp.category.popup/additions">
         </action>
      </objectContribution>
   </extension>
</plugin>
