<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.recommenders.rcp.selfhosting.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.recommenders.rcp.category.views"
            class="org.eclipse.recommenders.rcp.selfhosting.MinimalManagementView"
            icon="icons/sample.gif"
            id="org.eclipse.recommenders.rcp.selfhosting.startup.MinimalManagementView"
            name="Minimal Self-Hosting Management View">
      </view>
   </extension>

</plugin>
