<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.recommenders.rcp.codecompletion.subwords"
         name="Subwords Completion Engine"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.recommenders.rcp.category.completion.subwords"
            class="org.eclipse.recommenders.rcp.codecompletion.subwords.SubwordsCompletionProposalComputer">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="org.eclipse.recommenders.rcp.category.completion.subwords"
         name="Subwords Completion"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/elcl16/category.gif"></proposalCategory>
   </extension>
</plugin>
