<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.snipmatch.commands.search"
            name="Search">
      </command>
      <command
            id="org.eclipse.snipmatch.commands.submit"
            name="Submit">
      </command>
      <command
            id="org.eclipse.snipmatch.commands.profile"
            name="Profile">
      </command>
      <command
            id="org.eclipse.snipmatch.commands.login"
            name="Login">
      </command>
      <command
            id="org.eclipse.snipmatch.commands.logout"
            name="Logout">
      </command>
      <command
            id="org.eclipse.snipmatch.commands.remind"
            name="Remind">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.recommenders.snipmatch.rcp.CommandHandler"
            commandId="org.eclipse.snipmatch.commands.login">
      </handler>
      <handler
            class="org.eclipse.recommenders.snipmatch.rcp.CommandHandler"
            commandId="org.eclipse.snipmatch.commands.search">
      </handler>
      <handler
            class="org.eclipse.recommenders.snipmatch.rcp.CommandHandler"
            commandId="org.eclipse.snipmatch.commands.submit">
      </handler>
      <handler
            class="org.eclipse.recommenders.snipmatch.rcp.CommandHandler"
            commandId="org.eclipse.snipmatch.commands.profile">
      </handler>
      <handler
            class="org.eclipse.recommenders.snipmatch.rcp.CommandHandler"
            commandId="org.eclipse.snipmatch.commands.logout">
         <enabledWhen>
            <iterate
                  operator="or">
               <test
                     forcePluginActivation="true"
                     property="snipmatch.eclipse.ui.props.signedin"
                     value="true">
               </test>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.recommenders.snipmatch.rcp.CommandHandler"
            commandId="org.eclipse.snipmatch.commands.remind">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.snipmatch.commands.search"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Enter">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.recommenders.snipmatch.rcp.SignInStatusTester"
            id="snipmatch.eclipse.ui.signintester"
            namespace="snipmatch.eclipse.ui.props"
            properties="signedin"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension point="org.eclipse.ui.themes">
    <themeElementCategory
        id="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        label="Code Recommenders SnipMatch">
        <description>
            Code Recommenders SnipMatch theme category
        </description>
    </themeElementCategory>
    <colorDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.colorDefinition.queryBackColor"
        label="Query Back Color"
        value="255, 255, 200">
        <description>
            SnipMatch search box query back color
        </description>
    </colorDefinition>
    <colorDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.colorDefinition.matchSelectBackColor"
        label="Match Select Back Color"
        value="255, 255, 255">
        <description>
            SnipMatch search box match select back color
        </description>
    </colorDefinition>
    <colorDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.colorDefinition.selectionOverviewBackColor"
        label="Match Select Overview Back Color"
        value="255, 255, 225">
        <description>
            SnipMatch search box match select overview panel back color
        </description>
    </colorDefinition>
    <colorDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.colorDefinition.matchBlankArgForeColor"
        label="Match Blank Arg Fore Color"
        value="125, 150, 255">
        <description>
            SnipMatch search box match blank argement fore color
        </description>
    </colorDefinition>
    <colorDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.colorDefinition.queryDisabledBackColor"
        label="Query Disable Back Color"
        value="240, 240, 240">
        <description>
            SnipMatch search box query disable back color
        </description>
    </colorDefinition>
    <colorDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.colorDefinition.matchKeywordForeColor"
        label="Match Keyword Fore Color"
        value="0, 0, 0">
        <description>
            SnipMatch search box match keyword fore color
        </description>
    </colorDefinition>
    <colorDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.colorDefinition.matchArgForeColor"
        label="Match Arg Fore Color"
        value="0, 0, 255">
        <description>
            SnipMatch search box match argement fore color
        </description>
    </colorDefinition>
    <fontDefinition
        categoryId="org.eclipse.recommenders.snipmatch.preferences.themeElementCategory"
        id="org.eclipse.recommenders.snipmatch.preferences.fontDefinition"
        label="SnipMatch Search Font"
        defaultsTo="org.eclipse.jface.textfont">
        <description>
            SnipMatch theme font
        </description>
    </fontDefinition>
</extension>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.recommenders.snipmatch.preferences.SnipMatchPreferencePage"
            id="org.eclipse.recommenders.snipmatch.preferences.SnipMatchPreferencePage"
            category="org.eclipse.recommenders.rcp.category.preferences"
            name="SnipMatch">
      </page>
      <page
            class="org.eclipse.recommenders.snipmatch.preferences.GitRepositorySettingPreferencePage"
            id="org.eclipse.recommenders.snipmatch.preferences.SnipMatchGeneralPreferencePage"
            category="org.eclipse.recommenders.snipmatch.preferences.SnipMatchPreferencePage"
            name="Local setting">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.recommenders.snipmatch.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   <menuContribution
            locationURI="popup:#CompilationUnitEditorContext?after=group.show">
         <command
               commandId="org.eclipse.snipmatch.commands.search"
               label="Search Snippets"
               icon="images/flag.gif">
               <visibleWhen>
                 <with
					variable="activeEditorId">
					<or>
						<equals
							value="org.eclipse.jdt.ui.CompilationUnitEditor">
						</equals>
						<equals
							value="org.eclipse.jdt.ui.ClassFileEditor">
						</equals>
	            	</or>
         		</with>
               </visibleWhen>
         </command>
    </menuContribution>
    </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
            name="SnipMatch"
            id="org.eclipse.recommenders.rcp.category.views">
         </category>
         <view id="org.eclipse.recommenders.snipmatch.views.snippetsview"
	          name="SnipMatch View"
	          class="org.eclipse.recommenders.snipmatch.view.SnippetsView"
	          category="org.eclipse.recommenders.rcp.category.views"
	          icon="images/flag.gif"/>
   </extension>
</plugin>
