<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2014 Codetrails GmbH.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Marcel Bruch - initial API and implementation.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stacktraces -->
      <package
            uri="org.eclipse.recommenders.internal.stacktraces.rcp.model"
            class="org.eclipse.recommenders.internal.stacktraces.rcp.model.ModelPackage"
            genModel="models/stacktraces.xcore"/>
   </extension>

</plugin>
